@import "../../../styles/base";
.nav{
    &__container{
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    &__logo{
        margin-top: 2rem;
    }
    &__list{
        padding-left: 0;
    }
    &__item{
        list-style: none;
        margin-bottom: 0.5rem;
        padding:1rem;
        font-size: 1.3rem;
        font-weight: 600;
        // display: inline-block; 
        
        &:hover, &--active{
            background-color: $secondary-color;
            color:$primary-color;
        }
        transition: all 0.3s;
    }

    &__item__title{
        margin-left: 1rem;
    }

}