@import "../../../styles/base";

.nav {

    &__container {
        position: fixed;
        align-self: flex-end;
        flex:1 0 80%;
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    &__logo {
        margin-top: 1.5rem;
        color: $primary-color;
        font-size: 1.5rem;
    }

    &__list {
        padding-left: 0;
    }

    &__item {
        list-style: none;
        margin-bottom: 0.5rem;
        padding: 1rem;
        cursor: pointer;
        // display: inline-block; 

        &:hover,
        &--active {
            background-color: $secondary-color;
            color: $primary-color;
        }

        transition: all 0.3s;
        &__link{
            text-decoration: none;
            color: inherit;
            background-color: inherit;
            border: 0px;
            outline: none;
            font-size: 1.3rem;
            font-weight: 600;
        }
    }

    &__item__title {
        margin-left: 1rem;
    }
}

.tweet__container {
    background-color: #50afeb;
    color: white;
    padding: 0.75rem;
    width: 75%;
    border-radius: 99px;
    text-align: center;
    border: 0;
    outline: none;

    &:hover {
        background-color: #1B91DA;
    }

    transition: background-color 0.3s;
}

.feather__icon {
    display: none;
}

@media screen and (max-width: $small-screen) {
    .feather__icon {
        display: inline-block;
    }

    .nav__item__title, .tweet__title{
        display: none;
    }
}