.chat__history__box{
   max-height:80vh ;
    overflow-y: scroll;
}
.chat__room{

    &__container{
        min-height: 80vh;
       display: flex; 
       flex-direction: column;
       justify-content: space-between;
        &--focus{
            &>.chat__room__form{
                animation: chatFormExpanse 0.3s forwards;
                animation-duration: 0.3s;
            }
            &>.chat__history__box{
                animation: chatRoomShrink 0.3s forwards;
                animation-duration: 0.3s;
            }
        }
        &--blur{
            &>.chat__room__form{
                animation: chatFromShrink 0.3s forwards;
                animation-duration: 0.3s;
            }
            &>.chat__history__box{
                animation: chatRoomExpanse 0.3s forwards;
                animation-duration: 0.3s;
            }
        }
    }
    &__form{
        // flex:1;
        // position: sticky;
        // bottom: 0px;
        background-color: #6dc2f6;
        padding: 1rem;
        height: 10vh;
    }

    &__form__submit{
        border: 0px;
        border-radius: 20px;
        outline: none;
        color: #3698d4;
        background-color: white;
        padding:12px 14px;
        font-size: 16px;
        margin-top:10px;

        &__container{
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }

    &__input{
        background-color: white;
        border-radius: 20px;
        margin-left: 1rem;
        padding:0.5rem 0.8rem;
        border: 0px;
        outline: none;
        width: 80%;
        resize: none;
    }
}

@keyframes chatFormExpanse {
    from {
        height: 10vh;

    }
    to {
        height: 30vh;
    }
  }
@keyframes chatFormShrink {
    from {
        height: 30vh;

    }
    to {
        height: 10vh;
    }
  }

@keyframes chatRoomExpanse {
    from {
        height: 60vh;

    }
    to {
        height: 80vh;
    }
  }
@keyframes chatRoomShrink {
    from {
        height: 80vh;

    }
    to {
        height: 60vh;
    }
  }