@import "../../../styles/base";
.profile{
    &__content{
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
    }

    &__content__top{
        display: flex;
        justify-content: space-between;
    }

    &__content__setup__btn{
        padding: 0.5rem 1rem;
        border: 1px solid #1FA1F1;
        outline: none;
        background-color: white;
        color: #1FA1F1;
        font-size: 15px;
        border-radius: 90px;
        &:hover{
            background-color: #EBF5FE;
        }
        transition: background-color 0.4s;
    }
}