@import '../../../styles/base';
.home{

    &__title__container{

        margin-bottom: 0.5rem;
        padding: 1rem;
        border-bottom: 1px solid $light-gray;
        position: sticky;
        top:0px;
        background-color: white;
    }
    &__title{
        font-size: 1.3rem;
        font-weight: 600;
    }
  
    &__divider{
        height: 8px;
        background-color: $light-gray;
        border: 0px;
    }
}

.profile__icon{
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 0.75rem;
}