@import "../../../styles/base";
.tweet__buttons__container{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    // padding-left: 10px ;
    // padding-right: 10px;
    width: 90%;
    // font-size: 1.2rem;
    color:rgb(165, 165, 165);
}
.tweet__button__icon{
    font-size: 16px;
    padding:0.5rem;
    border-radius: 90px;

    transition: all 0.4s;
    &__container{
        display: flex;
        align-items: center;
        &--comment{
            &:hover{
                color: $primary-color;
            } 
        }
    
        &--heart{
             &:hover{
                color:#E0255E ;
            } 
            &--active{
                color:#E0255E 
            }
        }
        &--bookmark{
            &:hover{
                color:#5FCC87;
            }
        }
    }
    &--comment{
        &:hover{
            background-color: #E1EFFA;
        } 
    }

    &--heart{
        &:hover{
            background-color: #F4E4EB;
        } 
    }
    &--bookmark{
        &:hover{
            background-color: #E3F2EB;
        }
    }
}

.tweet__button__count{
    font-size: 13px;
    margin-left: 5px;
}


@keyframes slideUp {
    from {
      transform: translateY(0%);
      opacity: 100%;
    }
  
    to {
      transform: translateY(-100%);
      opacity: 0%;
    }
  }