@import "../../../styles/base";
.tweet__buttons__container{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    // padding-left: 10px ;
    // padding-right: 10px;
    width: 90%;
    // font-size: 1.2rem;
    color:rgb(165, 165, 165);
}
.tweet__button__icon{
    font-size: 16px;
    padding:0.5rem;
    border-radius: 90px;
    &:hover{
        background-color: #E1EFFA;
        color: $primary-color;
    }
    transition: all 0.4s;
    &__container{
        display: flex;
        align-items: center;
    }
}
.tweet__button__count{
    font-size: 13px;
    margin-left: 5px;
}