@import "./styles/base";
.app{
  font-family:  Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  width: 90%;
  margin:auto;
}

.navbar__container{
  flex:1;
  border-right: 1px solid $light-gray;
}
.main__container{
  flex:2;
  border-right: 1px solid $light-gray;
}
.sidebar__container{
  flex:1;
}
