@import "./styles/base";
.app{
  font-family:  Helvetica, sans-serif;
}

.danger{
  color:rgb(235, 104, 104)
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.profile__spinner{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.title__container{
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid $light-gray;
  position: sticky;
  top:0px;
  background-color: white;
  z-index: 10;
}
.page__title{
  font-size: 1.3rem;
  font-weight: 600;
}