@import "../../../styles/base";
.avatar__followed{
    &__list{
        padding: 0px;
    }

    &__item__container{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid $light-gray;
        &:hover{
            background-color: #EDF0F2;
        }
        transition: background-color 0.3s;
    }
    &__item {
        cursor: pointer;
        text-decoration: none;
        padding:0.8rem;
        display: flex;
    }

    &__avatar{
        img{
            width: 50px;
            border-radius:100%;
        }
        margin-right: 0.5rem;
    }

    &__info{
        display: flex;
        flex-direction: column;
    }

    &__userName{
        color:gray;
        font-size: 12px;
    }
    &__name{
        color: black;
        font-size: 14px;
    }

}